*{
	margin:0px;
	padding: 0px;
}
/* title css */
.container{
	margin:auto;
	width: 80%;
}
.top{
	background-color:black;
}
.title{
	line-height: 100px;
	margin-left:50px;
	color:white;
	font-family: Bernard MT Condensed;
	font-size: 50px
}
.menu{
	float:right;
}
.btn{
	color: white;
	background-color: green;
  	border: none;
  	border-radius: 4px;
	cursor: pointer;
}
/* sign in css */
.signin{
	float:right;
	line-height: 100px;
}

.signinbtn{
	padding: 5px 20px;
	margin-right:35px;
}
.signinput{
	padding: 3px 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
/* sign up css */
.singupContainer{
	height:580px;
	background-image: url("../images/wallpaper.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
.signup{
	background-color: white;
	height:75%;
	width:35%;
	border-radius: 10px;
	border-color:black;
	border: 2px solid;
	margin-top: 10px;
	float:right;
	margin-right:30px;
}
.signupinput{
	padding: 10px 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	width:90%;
	margin:8px 0px;
}
.signupform{
	text-align: center;
	
}
.signupbtn{
	padding: 10px 20px;
	width:90%;
	margin-bottom: 20px;
	margin-top: 20px;
}
.signuptitle{
	text-align: center;
	margin-top:30px;
}
legend{
	text-align: left;
	margin:0px 20px;
}
fieldset{
	margin:2px 20px;
}
.logoutbtn{
	float:right;
	margin-right: 35px;
	margin-top: 35px;
	padding: 10px 20px;
}
.tasks{
	background-image: url("../images/wallpaper.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	height:68vh;
	clear:both;
}
/******* user menu-content *******/
.menucontent{
	margin-top: 2px;
	width: 25%;
	float:left;
	margin-right: 2%;
	height: 78vh;
	border-right: 4px solid white;
	
}
.redflags{
	cursor: pointer;
	margin:5px 0px;
	margin-left:40px;
	text-decoration: underline;
	list-style-type: none;
	color:white;
	font-size:20px;
	font-family: Comic Sans MS;

}
.redflags:hover{
	color:white;
}
.btnnew{
	margin:10px 0px;
	border-radius: 5px;
	padding:10px 30px;
	margin-left: 20px;
}
.redflagcontent{
	margin-top:10px;
	float:left;
	width:70%;
	background-color: white;
	border-radius: 10px;
}
.redflagview{

}
/********* create red flag *************/
.createredflag{
	
}

.inputs{
	padding:10px 5px;
	width:80%;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
textarea{
	height:150px;
	resize: none;
}
.createredflag form{
	text-align: center;
}
.ltitle{
	float:left;
	text-align: left;
	width:100px;
	margin-left:20px;
}
.redflaginput{
	margin:10px 0px;
}
.redflagbtn{
	padding: 10px 0px;
	width:95%;
	margin-bottom: 20px;
}
.task-title{
	margin-top: 4px;
}
.red-title{
	float:left;
	padding:20px 20px;
}
.flag-title{
	font-family: Bernard MT Condensed;
	font-size:20px;
	color:white;
	text-align: center;
	padding:20px 0px;
	float:left;
	background-color: gray;
	border-right:4px solid white;
	width:25%;
	cursor: pointer;
	border-radius: 10px;
	
}
.taskcontent{
	clear:both;
	border:2px solid white;
}

.flag-title:hover{
	background-color: black;
	color:white;
}
.active{
	background-color: white;
	color:black
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.parent {
    width: 300px;
}